.artGallery {
    width: 60%;
    display: flex;
    flex-direction: column;
    
  }
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 2rem;
  }
  
.gridItem {
    width: inherit;
    height: 0;
    padding: 50% 0;
    background: white no-repeat center;
    background-size: cover;
  }

  h2 {
    padding: .5rem 0;
  }