.colorCircle {
width: 3rem;
height: 3rem;
padding: .5rem;
}

.container {
    position: absolute;
    right: 0;
    display: flex;
    transition: right 1s;
    z-index: 1;
}

.container.hidden{
    right: -5rem;
    overflow-x: hidden;
}

input {
    background-color: transparent;
    border: none;
    color: white;
}