.gridContainer {
    width: 80%;
    max-width: fit-content;
    height: auto;
    display: grid;
    grid-template-areas: 
    " . about . "
    " . triangle-text . "
    " art-gallery . projects ";
    grid-gap: 0;
    margin: 2rem;
}

.gridItem {
    justify-self: center;
    padding: 0;
    color: white;
    text-decoration: none;
}

#about {
    grid-area: about;
    padding-bottom: 1rem;
}

#artGallery {
    grid-area: art-gallery;
    justify-self: end;
    text-align: right;
    padding-right: 1rem;
}

#projects {
    grid-area: projects;
    justify-self: start;
    padding-left: 1rem;
}

#triangleText {
    grid-area: triangle-text;
    position: relative;
    display: flex;
}

.triangle {
    width: 100%;
}

.text {
    width: 110%;
    position: absolute;
    left: -5%;
}

