.gridContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    " . about . "
    " . triangle-text . "
    " art-gallery . projects ";
    margin: 2rem;
}

.gridItem {
    justify-self: center;
    padding: 0;
    color: white;
    text-decoration: none;
}

#about {
    grid-area: about;
    padding-bottom: 0.5rem;
}

#artGallery {
    grid-area: art-gallery;
    justify-self: end;
    text-align: right;
    padding-right: 0.5rem;
}

#projects {
    grid-area: projects;
    justify-self: start;
    padding-left: 0.5rem;
}

#triangleText {
    grid-area: triangle-text;
    position: relative;
    display: flex;
}

.triangle {
    width: 100%;
    margin: 0 auto;
}

.text {
    width: 110%;
    position: absolute;
    left: -5%;
}


