.App {
  display: flex;  
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.home-triangle {
  position: absolute;
  top: .5rem;
  left: 2.4rem;
  width: 5rem;
}

.home-text {
  padding: 2rem;
  width: fit-content;
}

.home-container {
  max-width: fit-content;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
}