@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
  monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;

  overflow-x: hidden;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TEXT ELEMENT STYLING */
h1, h2, h3, h4, p {
  margin: 0;  
  font-weight: 300;
}

h1 {
  font-size: 4.375rem;
  letter-spacing: 0.5rem; /* ADJUST TO TRIANGLE */
}

h2{
  font-size: 3.125rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 400;
}